# Packaging
pip>=9
setuptools>=26

# Data
numpy
pandas
scipy

# API
streamlit
gcsfs
google-cloud-storage
bs4

# Scraping
selenium
pathlib
chromedriver_binary
webdriver_manager
pdfminer.six

# Plotting
ipywidgets>=7.5
plotly